@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
  margin: 0px;
}

h1{
  margin-left: 30px;
  padding-top: 30px;
  font-family: Nunito;
}

#content{
  width: 75%;
  height: 100%;
  background-color: #D9D9D9;
  position: fixed;
  right: 0;
}

#sideBar {
  position: fixed;
  height: 100%;
  width: 25%;
  background-color: white;
  border-right: 1px rgb(55, 55, 55) solid;
  margin: 0px;
  font-family: Nunito;
}

#user {
  height: 100px;
  width: 100%;
}

#userphoto {
  float: left;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 25px;
  object-fit: cover;
}

#username {
  float: left;
  margin-left: 20px;
  margin-top: 42px;
  font-size: 20px;
}

.first {
  margin-top: 50px;
}
.tab {
  height: 75px;
  width: 102%;
  border: 1px solid black;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 0px 20px 20px 0px;
  background-color: #8EAEBD;
  margin-bottom: 1px;
}

.tab:hover{
  height: 80px;
  width: 104%;
  border: 1px solid black;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-radius: 0px 20px 20px 0px;
}

#settings {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
